{
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "semi": true,
        "tabWidth": 4,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    },
    {
      "files": ["*.json", ".eslintrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
